.swiper {
    width: 100%;
  }

.swiper .swiper-slide{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  /* height: 15rem; */
}

.swiper .swiper-slide img{
  height:40vh;
  object-fit: cover;

}